<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>{% block title %}{% endblock %}</title>
		<!-- <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet"> -->
		<link rel="stylesheet" href="{{ url_for('static', filename='lib/bootstrap.min.css') }}" >
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
		{% block customcss %}{% endblock %}
	</head>
	<body>
		{% for message in get_flashed_messages() %}
		<div class="alert alert-warning alert-dismissible fade show" role="alert">
			{{ message }}
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		{% endfor %}
		{% block body %}{% endblock %}
	
		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="{{ url_for('static', filename='lib/jquery-3.3.1.min.js') }}" ></script>
		<script src="{{ url_for('static', filename='lib/popper.min.js') }}" ></script>
		<script src="{{ url_for('static', filename='lib/bootstrap.min.js') }}" ></script>
		{% block customjs %}{% endblock %}
	</body>
</html>